doctype html5
html(lang='en', ng-app='phonecat')
  head(ng-controller='HeadCtrl')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width,initial-scale=1')

    title {{ title }}

    link(rel='stylesheet', href='vendors.css')

    link(rel='stylesheet', href='/all.css')
    link(rel='stylesheet', href='/screen.css', media="screen")
    link(rel='stylesheet', href='/print.css', media="print")

    script(src="vendors.js")

    //- Comment below to disable real-time sockets.
    script(src="socket.io/socket.io.js")

  body(ng-controller='PhoneListController as state')
    //- Put your main content here
    //- .container //- bootstrap
    //- .container-fluid //- Bootstrap Responsive
    //- ion-nav-view //- Root for an ionic layout

    //- Uncomment below for cordova Mobile support
    //- script(src="cordova.js")
    .container-fluid
      .row
        .col-md-2
          form.form-inline
            label Search:
            input.form-control(type='search', ng-model='query')

            label Sort by:
            select.form-control(ng-model='state.orderProp')
              option(value='name') Alphabetical
              option(value='age') Newest
              
        .col-md-10
          ul.phones
            li.thumbnail(ng-repeat='phone in state.phones | filter:query | orderBy: state.orderProp')
              a.thumb(href="#/phones/{{phone.id}}")
                img(ng-src="{{phone.imageUrl}}")
              a(href="#/phones/{{phone.id}}") {{ phone.name }}
              p {{ phone.snippet }}

    script(src="templates.js")
    script(src="application.js")
